body {
    background-color: #8bb9fe;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ea868f; 
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6;
    margin: 0; 
    padding: 0;
  }
  
  h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    color: #031633; 
    margin-bottom: 10px;
  }
  
  strong {
    font-family: 'Caveat', cursive;
    color: #0066cc; 
    font-weight: normal; 
  }
  
  article {
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 20px auto; 
    padding: 15px;
    background-color: #dee2e6; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
  }
  
  em {
      font-style: italic;
      color: #084298;
  }

  p {
    line-height: 1.7; 
    margin-bottom: 1em; 
  }
  